### aliases

# carries over aliases with sudo
alias sudo='sudo '

# ls aliases
alias ls='command ls --color' # show colours
alias la='ls -A' # include hidden files
alias ll='ls -Alh' # long human readable format
alias ls-file='ls -p | grep -v /' # list files only
alias ls-dir='ls -d */ 2> /dev/null' # list folders only
alias ls-dot='ls -d .[^.]* 2> /dev/null' # list hidden items only
alias ls-size='ls -lASrh' # sort by size
alias ls-date='ls -lAtrh' # sort by date
alias ls-ext='ls -lAXBh' # sort by extension

# cd aliases
alias -- -='cd -' # the alias is just '-'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# git aliases
alias gs='git status'
alias ga='git add'
alias gl='git log'
alias gpl='git pull'
alias gps='git push'
alias gcm='git commit --message'
alias gco='git checkout'

# docker aliases
alias dk='docker'
alias dkc='docker-compose'
alias dkc-upd='docker-compose pull && docker-compose up -d'

# coloured grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# safer file operations
alias rm='rm -Irv'
alias mv='mv -iv'
alias cp='cp -aiv'

### other aliases

# bechmark shell startup time
alias bench_shell='time "${0//-}" -i -c "echo -n"'

# shortcut for 'command' to ignore aliases and functions
alias cmd='command'

# clipboard
alias copy='xclip -selection clipboard'
alias paste='xclip -selection clipboard -o'

# opens hosts file for editing
alias hosts='sudo "${EDITOR}" /etc/hosts'

# shows current ip information
alias ip='ipconfig getifaddr en0 && curl http://ipecho.net/plain; echo'

# get exit code of last command
alias lexit='echo $?'

# gets the last command
alias lcommand='history | tail -2 | head -1 | cut -c8-999'

# opens file or folder in default app
alias open='xdg-open'

# shows path
alias path='echo -e "${PATH//:/\\n}"'

# generates a random password
alias passgen='openssl rand -base64 14'

# shows listening ports
alias ports='sudo lsof -i | grep LISTEN'

# reloads shell
alias reload='exec "${0//-}" -l'

# adds execute permissions
alias runnable='chmod +x'

# get the name of the current directory
alias wd='echo ${PWD##*/}'
