### exported environment variables

# add extra directories to the PATH
PATH_DIRS=(
    "${HOME}/bin" # home bin
    "${HOME}/.local/bin" # alternative bin
)
    
for DIR in "${PATH_DIRS[@]}"; do
    if [ -d "${DIR}" ]; then
        case ":${PATH:=$DIR}:" in
            *:"$DIR":*) ;;
            *) PATH="${PATH}:${DIR}" ;;
        esac
    fi
done

unset DIR PATH_DIRS

# colours used in ls
export LS_COLORS="di=1;34:ln=1;36:so=31:pi=31:ex=1;32:bd=35:cd=35:su=1;32:sg=1;32:tw=1;34:ow=1;34"

# default text editor
export EDITOR="nano"

# default visual text editor
export VISUAL="${EDITOR}"

# for using GPG with git
export GPG_TTY=$(tty)
