### exported environment variables

# add extra directories to the PATH
PATH_DIRS=(
    "${HOME}/bin" # home bin
    "${HOME}/.local/bin" # alternative bin
    "${HOME}/Library/Android/sdk/platform-tools" # macOS Android tools
)

for DIR in "${PATH_DIRS[@]}"; do
    _add_to_path "${DIR}"
done

unset DIR PATH_DIRS

# colours used in ls # https://geoff.greer.fm/lscolors/
export LS_COLORS="di=36:ln=35:so=32:pi=33:ex=31:bd=30;46:cd=37;44:su=30;41:sg=37;42:tw=37;43:ow=30;43"

# default text editor
export EDITOR="nano"

# default visual text editor
export VISUAL="${EDITOR}"

# default pager
export PAGER="less"

# for using GPG with git
export GPG_TTY=$(tty)

# currently only set by some terminals such as iTerm2
# https://gist.github.com/XVilka/8346728
# export COLORTERM="truecolor"
