### git config (machine specific)
# https://git-scm.com/docs/git-config

# include global git config
[include]
    path = ~/Dotfiles/config/git/global.gitconfig

# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
[core]
    # macOS / Linux:
    autocrlf = input
    # Windows:
    # autocrlf = true

[user]
    name = Rafhaan Shah
    email = RafhaanShah@users.noreply.github.com
    # https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key
    # gpg --list-keys --keyid-format LONG
    # signingkey = GPG_KEY_ID

[commit]
    # https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits
    # gpgsign = true

[gpg]
    # Windows https://www.gpg4win.org/
    # program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
    
    # WSL https://www.gpg4win.org/
    # program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe
    
    # macOS / Linux https://gnupg.org/
    # program = gpg

# https://github.com/git-ecosystem/git-credential-manager/
[credential]
    # Windows: https://github.com/git-ecosystem/git-credential-manager/tree/release/docs/install.md#windows
    # helper = C:\\Program Files \\Git\\mingw64\\libexec\\git-core\\git-credential-manager.exe
    # credentialStore = wincredman
    
    # WSL: https://github.com/git-ecosystem/git-credential-manager/tree/release/docs/install.md#windows-subsystem-for-linux-wsl
    # helper = "/mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe"
    
    # macOS: https://github.com/git-ecosystem/git-credential-manager/tree/release/docs/install.md#macos
    # helper = /usr/local/share/gcm-core/git-credential-manager-core
    # credentialStore = keychain
    
    # Linux: https://github.com/git-ecosystem/git-credential-manager/tree/main/docs/credstores.md#gpgpass-compatible-files
    # helper = /usr/local/bin/git-credential-manager
    # credentialStore = gpg
    # guiPrompt = false

# git LFS support
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

# include any folder specific overrides, e.g work email
# may not work outside of actual git repos
[includeIf "gitdir:~/Workspace/"]
    path = ~/Workspace/.gitconfig
